@import "tailwindcss";

@theme {
  --color-text: var(--text);
  --color-title: var(--title);
  --color-text-button: var(--text-button);
  --color-bg-button: var(--bg-button);
  --color-bg: var(--bg);
  --color-card-bg: var(--card-bg);
  --shadow-brand: var(--brand-shadow);
  --color-turquesa: #29d6b9;
}

:root {
  --text: #000;
  --title: #000;
  --text-button: #fff;
  --bg-button: #29d6b9;
  --bg: #fff;
  --card-bg: #f1f1f1;
  --brand-shadow: 0 0 20px -5px rgba(13, 51, 54, 0.2), 0 8px 15px -6px rgba(13, 51, 54, 0.2);
}

.dark {
  --text: #8491A8;
  --title: #fff;
  --text-button: #000;
  --bg-button: #29d6b9;
  --bg: #090E1A;
  --card-bg: #0B0F1C;
  --brand-shadow: 0 15px 40px -5px rgba(13, 51, 54, 0.9), 0 8px 10px -6px rgba(13, 51, 54, 0.1);
}